<form name="login-form" ng-controller="LoginController as loginCtrl" novalidate ng-submit="login-form.$valid && loginCtrl.login()">
<fieldset>
	<legend>Login</legend>
    <div id="lodin-form-content" class="k-content">
        <div>
            <ul class="forms">
                <li>
                    <label for="tb-username">Username: </label>
                    <input ng-model="loginCtrl.loginModel.username" requred ng-minlength="6" ng-maxlength="20" class="k-textbox" type="text" id="tb-username" />
                	<em>(between 6 - 20 characters)</em>
                </li>
                <li>
                    <label for="tb-password">Password: </label>
                    <input ng-model="loginCtrl.loginModel.password" requred ng-minlength="6" ng-maxlength="25" class="k-textbox" type="password" id="tb-password" />
                    <em>(between 6 - 25 characters)</em>
                </li>
                <li>
                    <button class="k-button" type="submit">Login</button>
                </li>
            </ul>
        </div>
    </div>
</fieldset>
</form>