<fieldset>
    <legend>Register</legend>
    <div id="register-form-content" class="k-content">
        <div>
            <ul class="forms">
                <li>
                    <label for="tb-usernameReg">Username</label>
                    <input class="k-textbox" type="text" id="tb-usernameReg" />
                </li>
                <li>
                    <label for="tb-passwordReg">Password</label>
                    <input class="k-textbox" type="password" id="tb-passwordReg" />
                </li>
                <li>
                    <label for="tb-firstName">First Name</label>
                    <input  class="k-textbox" type="text" id="tb-firstName" />
                </li>
                <li>
                    <label for="tb-lastName">Last Name</label>
                    <input class="k-textbox" type="text" id="tb-lastName" />
                </li>
                <li>
                    <label for="tb-email">Email</label>
                    <input class="k-textbox" type="text" id="tb-email" />
                </li>
                <li>
                    <button class="k-button">Register</button>
                </li>
            </ul>
        </div>
    </div>
</fieldset>