<div class="clearfix">
	<div class="names-container left">
		<div class="name">You:</div>
		<div class="name" ng-repeat="name in roomDetails.participants | filter:usernameFilter">{{name}}: </div>
	</div>
	<canvas class="left" id="progress-canvas"></canvas>
</div>

<div>
	<p id="text">{{roomDetails.text}}</p>
	
	<div>
		<input type="text" class="k-textbox" />
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#canvas").attr("width", "500px");
		$("#canvas").attr("height", "400px");
		var c = document.getElementById("progress-canvas");
		var ctx = c.getContext("2d");
		var image = new Image();
        image.src = "Images/rider-blue.png";
        ctx.drawImage(image, 0, 0);
// 		ctx.fillStyle = "#0000FF";
// 		ctx.fillRect(5, 10, 7, 10);
	});
</script>