<div class="clearfix">
	<div id="names-container" class="left">
		<div class="name">You:</div>
		<div class="name" ng-repeat="name in roomDetails.participants | filter:usernameFilter">{{name}}: </div>
	</div>
	<canvas class="left" id="progress-canvas"></canvas>
	<div class="left" id="game-progress-status">
		<p ng-repeat="progress in progresses track by $index" ng-show="showStatus(progress)">{{progress.status}}</p>
		&nbsp;
	</div>
	<div id="game-buttons" class="left">
		<button class="k-button" ng-click="startGame()" ng-show="isCreator()">Start Game</button>
		<button class="k-button" ng-click="leaveGame()">Leave Game</button>
	</div>
</div>

<div>
	<p id="text">{{roomDetails.text}}</p>
	
	<div>
		<input type="text" placeholder="Type here..." ng-keypress="checkTyping($event)" 
			ng-model="word" id="word-input" novalidate class="k-textbox" />
	</div>
</div>

<script>
	$(document).ready(function() {
		
		
		setTimeout(function() {
			var textP = $('#text');
			var text = textP.text().split(' ');
			markText(0, text)}, 3000);
	});
	
	
</script>