.forms {
	float: left;
}

.forms li {
	margin-bottom: 5px;
	list-style: none;
}

.forms li>* {
	width: 200px;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
	border-width: 2px;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
	border-width: 2px;
}

.left {
	float: left;
}

#progress-canvas {
	border: 1px solid #000;
}

.name {
	padding-top: 5px;
	padding-bottom: 10px;
}

#names-container {
	text-align: right;
}

#text {
	width: 30%;
}

#word-input {
	border-color: #636363;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
