.forms {
	float: left;
}

.forms li {
	margin-bottom: 5px;
	list-style: none;
}

.forms li>* {
	width: 200px;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
	border-width: 2px;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
	border-width: 2px;
}

#progress-canvas {
/* 	margin-top: 20px; */
/* 	margin-left: 20px; */
/* 	margin-right: 30px; */
/* 	margin-bottom: 25px; */
	border: 1px solid #000;
	width: 500px;
	height: 150px;
	background-color: #ccc;
	float: left;
}

.name {
	padding-bottom: 10px;
}

.names-container {
	background-color: #ccc;
	float: left;
	text-align: right;
}

