<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
    
<hibernate-configuration>
    <session-factory>        
        <mapping class="speedtyper.model.UserModel" />
        <mapping class="speedtyper.model.RoomModel" />
        <mapping class="speedtyper.model.TextModel" />
        <mapping class="speedtyper.model.HighscoreModel" />
    </session-factory>         
</hibernate-configuration>