<!DOCTYPE html>
<html ng-app="SpeedTyperSPA">
<head>
<meta charset="utf-8" />
<title>SpeedTyper - a typing race game</title>
<link rel="stylesheet" type="text/css" href="Styles/kendo.common.min.css" />
<link rel="stylesheet" type="text/css" href="Styles/kendo.flat.min.css" />
<link rel="stylesheet" type="text/css" href="Styles/custom-styles.css" />
<script src="Scripts/libs/jquery.min.js"></script>
<script src="Scripts/libs/angular.min.js"></script>
<script src="Scripts/libs/angular-route.min.js"></script>
<script src="Scripts/libs/kendo.core.min.js"></script>
<script src="Scripts/libs/kendo.web.min.js"></script>
<script src="Scripts/libs/kendo.grid.min.js"></script>
<script src="Scripts/app/controllers.js"></script>
<script src="Scripts/app.js"></script>
</head>
<body>
	<header>
		<h1><em>Speed Typer...</em></h1>
		<nav>
			<div ng-include src="'Scripts/partials/menu.html'"></div>
		</nav>
	</header>

	<div ng-view></div>

	<footer> </footer>
</body>
</html>