<!DOCTYPE html>
<html ng-app="SpeedTyperSPA">
<head>
<meta charset="utf-8" />
<title>SpeedTyper - a typing race game</title>
<script src="Scripts/libs/jquery.min.js"></script>
<script src="Scripts/libs/angular.min.js"></script>
<script src="Scripts/libs/angular-route.min.js"></script>
<script src="Scripts/libs/kendo.ui.core.min.js"></script>
<script src="Scripts/app/controllers.js"></script>
<script src="Scripts/app.js"></script>
<link rel="stylesheet" type="text/css" href="Styles/kendo.common.min.css" />
<link rel="stylesheet" type="text/css" href="Styles/kendo.black.min.css" />
</head>
<body>
	<div id="wrapper">
		<header>
			<h1>Speed Typer</h1>
		</header>

		<div ng-view></div>
	</div>

	
</body>
</html>